.title{
 text-align: center;
 margin: 50px;
}

.title > h1{
  font-size: 70px;
}

.button{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text > p{
  font-size: 20px;
}
.text > h2{
  font-size: 30px;
}

.text{
  max-width: 960px;
  margin: auto;
  margin-bottom: 50px;
}
.end{
  position: absolute;
  color: rgb(255,255,255,0);
  top: 180%;
}
