*{
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", sans-serif;
}

body{
  background-image: url("aboutbackground.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.index-background{
  background-image: url("background.jpg");
}
.home-background{
  background-image: url("aboutbackground.jpg");
}
.combustion-background{
  background-image: url("mercedesbackground.jpg");
}
.electric-background{
  background-image: url("teslabackgrond.jpg");
}
.contact-background{
  background-image: url("comparisonbackground.jpg");
}
.comparison-background{
  background-image: url("comparisonbackground.jpg");
}
